<!DOCTYPE html>
<html>
   <head>
      <title>Exemplo002</title> <meta charset="UTF-8"/>
   </head>
   <body>
      <table border="1" width="100%">
         <thead>
            <tr>
               <th>Nome</th><th colspan="2">Telefones</th>
            </tr>
         </thead>
         <tbody>
            <tr>
               <td>Ana</td><td>111-1111</td><td>111-2222</td>
            </tr>
            <tr>
               <td>Luiz</td><td>222-1111</td><td>&nbsp;</td>
            </tr>
         </tbody>
         <tfoot>
            <tr>
               <td colspan="3">Total de contatos: 2</td>
            </tr>
         </tfoot>
      </table>
   </body>
</html>