<!DOCTYPE html>
<html>
  <head>
    <title>Exemplo007</title><meta charset="UTF-8">
    <link rel="stylesheet" href="exemplo007.css"/>
  </head>
  <body>
    <ul class="menu">
      <li><a href="exemplo007.html">Inicio</a></li>
      <li><a href="#">Exemplos...</a>
        <ul class="submenu">
          <li><a href="exemplo001.html">Primeiro</a></li>
          <li><a href="exemplo002.html">Segundo</a></li>
        </ul>
      </li>
      <li><a href="https://www.google.com">Pesquisa</a></li>
    </ul>
  </body>
</html>
